.snb{
	float:left;
	width:180px;
	margin-right:-200px
}

.menu {
  position: relative;
  height: 44px;
  width: auto;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.menu > ul {
  position: relative;
  display: block;
  background: #2b2f3a;
  width: 100%;
}

.menu > ul > li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  display: block;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

.otherSite {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
  color: #fff;
  text-transform: uppercase;
}

.thisSite {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
  color: #ff0;
  text-transform: uppercase;
}

#mainLogo{
	text-align:center;
}
#wrap{
	width:100%;
}

#header{
	width:100%
}

#container{
	_display:inline-block;
	width:100%
}

#footer{
	width:100%
}

div{
	margin:0 0 10px;
	padding:10px 0;
	color:#2d2c2d;
	font-family:Tahoma;
	font-size:14px;
	font-weight:bold
}

#wrap{
	width:auto;
	margin:0;
	padding:10px;
	border:1px solid #bdbdbd;
}

#header{
	margin-top:10px
}

#header,#container{
	width:auto;
	padding:10px;
}

#content{
	margin-top:10px;
	border:1px solid #bdbdbd;
	background:#fff;
	text-align:center;
	height:270px;
}

#footer{
	width:auto;
	padding:10px;
	border:2px solid #bfbfbf;
	background:#e5e5e5
}