/* UI Object */
.snb{
	float:left;
	width:180px;
	margin-right:-200px
}

.nav {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 90px;
  margin-top: -45px;
  background: #fff;
  border-radius: 5px;
}

.nav__items {
  position: relative;
  width: 410px;
  height: 100%;
  padding-left: 20px;
  padding-right: 110px;
  list-style-type: none;
  font-size: 0;
}

.nav__item {
  display: inline-block;
  vertical-align: top;
  width: 70px;
  text-align: center;
  color: #6C7784;
  font-size: 14px;
  line-height: 90px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.nav__item-text {
  display: block;
  height: 100%;
  opacity: 0;
}

#mainLogo{
	text-align:center;
}
#wrap{
	width:100%;
}

#header{
	width:100%
}

#container{
	_display:inline-block;
	width:100%
}

#container:after{
	display:block;
	clear:both;
	content:''
}

#content{
	margin-left:200px
}

#footer{
	width:100%
}

/* Layout Color - 실제 서비스 적용 후 아래 코드는 삭제 하세요 */
div{
	margin:0 0 10px;
	padding:10px 0;
	color:#2d2c2d;
	font-family:Tahoma;
	font-size:14px;
	font-weight:bold
}

#wrap{
	width:auto;
	margin:0;
	padding:10px;
	border:1px solid #bdbdbd;
	background:#f7f7f7
}

#header{
	margin-top:10px
}

#header,#container{
	width:auto;
	padding:10px;
	border:2px solid #bfbfbf;
	background:#e5e5e5
}

.snb,#content{
	margin-top:10px;
	border:1px solid #bdbdbd;
	background:#fff;
	text-align:center
}

#content{
	height:200px
}

#footer{
	width:auto;
	padding:10px;
	border:2px solid #bfbfbf;
	background:#e5e5e5
}
/* //UI Object */